<h2>All items</h2>

<% if @items.empty? %>
  <h2>No items</h2>
  <%= button_to 'new item', new_item_path, method: :get %>

<% else %>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>description</th>
      <th>weight</th>
      <th>real</th>
      <th>rating</th>
      <th>delete</th>
    </tr>
    <% @items.sort.map do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.price %> $</td>
      <td><%= item.description %></td>
      <td><%= item.weight %></td>
      <td><%= item.real %></td>
      <td><%= item.votes_count %><%= link_to '+', upvote_item_path(item) %></td>

      <td><%= button_to 'delete', item_path(item), method: :delete %></td>
    </tr>
    <% end %>
  </table>

    <%= button_to 'new item', new_item_path, method: :get %>
    <%= button_to 'expensive', expensive_items_path, method: :get %>
    <%= button_to 'All items', items_path, method: :get %>
    <%= button_to 'Admin panel', admin_users_count_path, method: :get %>

<% end %>
<%= render partial: 'shared/email' %>
