<h2>Show</h2>

<h4><%= @item.name %></h4>

<ul>
  <li>Price: <%= @item.price %>$</li>
  <li>description: <%= @item.description %></li>
  <li>weight: <%= @item.weight %></li>
  <li>real: <%= @item.real %></li>
</ul>
<br/>
<%= link_to "Edit #{@item.name}", edit_item_path %>
<br/>
<li><%= button_to "Delete #{@item.name}", item_path(@item), method: :delete %></li>
<br/>
<%= link_to "All Items", items_path %>
